
<html>
	<head>
		<title>Hello, Rails!</title>
	</head>
	<body>
		<h3>Hello.......... I am using Rails!</h3>
		<ul>
			<li>Addition: <%= 1+2 %> </li>
			<li>Concatenation: <%= "cow" + "boy" %> </li>
			<li>Time in one hour: <%= 1.hour.from_now %> </li>
		</ul>
		<p>
			Time to say <%= link_to "GoodBye!", :action => "goodbye" %>
		</p>
	</body>
</html>
